.list-heading {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

/* === GRID CONTAINER === */
.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    align-items: center;
    padding: 40px;
}

/* === CARD CONTAINER === */
.animal-container {
    position: relative;
    flex: 0 1 calc(33.333% - 30px);
    aspect-ratio: 4 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Keeps image tidy within box */
    border-radius: 10px;
}

.animal-container:hover {
    transform: scale(1.03);
}

/* === IMAGE STYLING === */
.image-animal-list {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.5s ease;
    display: block;
    border-radius: 10px;
}

.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s ease;
    text-align: center;
    z-index: 2;
}

.animal-container:hover .image-animal-list {
    opacity: 0.5;
}

.animal-container:hover .middle {
    opacity: 1;
}

/* === BUTTON STYLE === */

.link-btn {
    background-color: rgba(212, 149, 82, 0.9);
    color: white;
    font-size: 18px;
    padding: 12px 24px;
    border-radius: 12px;
    text-decoration: none;
    display: inline-block;
    white-space: nowrap;
}

.link-btn:hover {
    background-color: rgba(212, 149, 82, 1);
}

/* === Responsive adjustments === */
@media (max-width: 900px) {
    .row {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

